@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #5DEBF0 rgb(41, 38, 33);
}

.inShaddow {
  box-shadow: inset 1rem 0.2rem 4rem #4e4e4e;
}

@layer base {
  body {
    background-color: #191919;
    color: white;
    
    
  }
}
